In [1]:
import sqlite3

Creating connection and database

1. write a python function to create a new sqlite database names test.db

In [ ]:
def create_connection():
    conn= sqlite3.connect("test.db")
    conn.close()
    print("Connection created successfully")

create_connection()

Write a python function to create table named employees with columns id(integer), name(text), age(integer), and department(text) in the test.db database

In [ ]:
def create_table():
    conn= sqlite3.connect("test.db")
    cursor= conn.cursor()
    cursor.execute("CREATE TABLE IF NOT EXISTS employees (id INTEGER, name TEXT, age INTEGER, department TEXT)")
    conn.commit()
    conn.close()
    print("Table created successfully")
create_table()

Assignment 2 : Inserting the data

1. insert new employees into employee table

In [10]:
def insert_employee(id, name, age, department):
    conn= sqlite3.connect("test.db")
    cursor= conn.cursor()
    # Ensure table exists before inserting
    cursor.execute("CREATE TABLE IF NOT EXISTS employees (id INTEGER, name TEXT, age INTEGER, department TEXT)")
    cursor.execute("INSERT INTO employees (id, name, age, department) VALUES (?, ?, ?, ?)", (id, name, age, department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully")
    
insert_employee(1, "John Doe", 30, "Sales")

Employee inserted successfully

Insert at least 5 Different employees into table

In [11]:
insert_employee(2, "Jane Smith", 25, "Marketing")
insert_employee(3, "Jim Beam", 35, "Engineering")

Employee inserted successfully
Employee inserted successfully

Assignment 3: Quering Data

1. fetch and disply all record from the employees table

In [12]:
def fetch_all_records():
    conn= sqlite3.connect("test.db")
    cursor= conn.cursor()
    cursor.execute("SELECT * FROM employees")
    records= cursor.fetchall()
    for row in records:
        print(row)
    conn.close()

fetch_all_records()

(1, 'John Doe', 30, 'Sales')
(2, 'Jane Smith', 25, 'Marketing')
(3, 'Jim Beam', 35, 'Engineering')

2. Fatch and display all emplyees from specific department

In [13]:
def fetch_employees_by_department(department):
    conn= sqlite3.connect("test.db")
    cursor= conn.cursor()
    cursor.execute("SELECT * FROM employees WHERE department=?", (department,))
    records= cursor.fetchall()
    for row in records:
        print(row)
    conn.close()

fetch_employees_by_department("Sales")

(1, 'John Doe', 30, 'Sales')

Assignment 4 : Updating Data

1. update the department of an employee based on their ID

In [14]:
def update_employee_department(id, new_department):
    conn= sqlite3.connect("test.db")
    cursor= conn.cursor()
    cursor.execute("UPDATE employees SET department=? WHERE id=?", (new_department, id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully")

update depatment of atleast 2 employees and display updates

In [15]:
update_employee_department(1, "HR")
update_employee_department(2, "Finance")

Employee department updated successfully
Employee department updated successfully